/****** General ***********/
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;

}

:root {
  --font-weight-700: 700;
  --text-font-size18: 1.12rem;
  --text-font-size17: 1.06rem;
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  hyphens: auto;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 1.37rem;
  margin-bottom: 8px;
}

.section-subtitle {
  font-size: var(--text-font-size18);
  font-weight: bold;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/******** Bar nav *********/
.logo_booki {
  width: 61px;
  height: 19px;
  padding: 30px 50px;
}

.bar_nav {
  display: flex;
  justify-content: space-between;
}

.bar_nav nav {
  width: 21.5rem;
  height: 35px;
  display: flex;
  justify-content: space-around;
}

.link_nav {
  display: flex;
  align-items: end;
}

.link_nav:hover {
  border-top: solid 2px var(--main-color);
  color: var(--main-color);
}

/************section renseignements*********************/
.p--renseignements {
  margin-bottom: 32px;
}

form {
  margin-bottom: 32px;
}

.bar--site-search {
  display: flex;
  width: 26.125rem;
  height: 3.063rem;
  border-radius: 15px 0 0 15px;

}

.fa-location-dot {
  color: black;
  width: 3.125rem;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;

}

.input--site-search {
  width: 60%;
  font-size: var(--text-font-size18);
  font-weight: 700;
  outline: none;
  text-align: center;
  border: 2px solid #F2F2F2;
}

.btn--site-search {
  width: 8.25rem;
  height: 100%;
  background-color: var(--main-color);
  color: var(--main-bg-color);
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  font-size: var(--text-font-size18);
  font-weight: 700;
}

.btn--site-search i {
  display: none;
}

.filtre--bar {
  display: flex;
  margin-bottom: 32px;
  width: 47.375rem;
  /*height: 3.125rem;*/
  justify-content: space-around;
  align-items: center;
}

.filtre--title {
  font-size: var(--text-font-size18);
}

.btn--filtre {
  font-size: var(--text-font-size17);
  font-weight: var(--font-weight-700);
  height: 3.125rem;
  padding: 4px 19px;
  gap: 10px;
  display: flex;
  background-color: white;
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
}

.btn--filtre:hover {
  background-color: var(--filter-bg-color);
}

.bar--info {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  gap: 10px;
}

.fa-info {
  border: 2px solid #F2F2F2;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}

.hebergements-card .card {
  width: 30%;
  margin-top: 33px;
}

.hebergements-card img {
  width: 100%;
  height: 8.5rem;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-title,
.card-subtitle,
.card-rating {
  padding: 3px 0 3px 8px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 8.5rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/***************Activités*****************/
.title--section-activites {
  margin-top: 35px;
  padding: 30px 0 0 30px;
}

.section-activites {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
}

.card-activites {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  /*height: 439px;**/
  width: 23%;
}

.card-activites img {
  object-fit: cover;
  height: 23.75rem;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-activites .card-title {
  padding: 20px 19px;
}

/******************section footer**************************/
.section-footer {
  width: 100%;
  background-color: #F2F2F2;
  display: flex;
  margin-top: 35px;
}

.footer-list {
  /*height: 163px;*/
  width: 33%;
  padding: 20px;
}

.footer-list li {
  padding-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .card-title {
    font-size: 14px;
  }

  card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .hebergements-and-populaires {
    margin-top: 20px;
  }

  .herbergements,
  .populaires {
    width: 100%;
  }

  .bar--site-search {
    width: 100%;
  }

  .btn--site-search {
    width: 20%;
  }

  .btn--site-search i {
    display: block;
    color: white;
  }

  .btn--site-search span {
    display: none;
  }

  .filtre--bar {
    width: auto;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .bar--info {
    display: none;
  }

  .footer-list,
  li {
    width: 20%;
  }
}

/*
img object fit cover
padding de mon h3 dans les activites
container mobile
espace entre mes ligne sur hegerment
*/